<a href="https://colab.research.google.com/github/khrwnnn/Milan_CPE009A-CPE12S2/blob/main/Hands_on_Activity_1_1_Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hands-on Activity 1.1 Literals, Operators, and Variables

Name: Milan, Kherwin Emmanuel D.

Section: CPE12S2

Date performed: Jan 8, 2026

Date Submitted: Jan 8, 2026

#Assigning variables of different data types in Python

1. 1.	In an empty cell, declare a variable value and assign it the value of 5 then display its value using print().

In [ ]:
value = 5
print(value)

2.	Create a new cell and type the command: type(value) then run the cell. The output should be like the image below.

In [ ]:

type(value)

3.	In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [ ]:
value = 5.0
print(value)

4.	Repeat step 2.

In [ ]:
type(value)

5.	Repeat these steps for the following values:

a.	2+3j

In [ ]:
value = 2 + 3j
print(value)
type(value)

b. ‚ÄòHello World‚Äô

In [ ]:
value = 'Hello World'
print(value)
type(value)

c. ‚ÄúHello World‚Äù

In [ ]:
value = "Hello World"
print(value)
type(value)

d. True

In [ ]:
value = True
print(value)
type(value)

e. False

In [ ]:
value = False
print(value)
type(value)

f. [1,2,3,4,5]

In [ ]:
value = [1, 2, 3, 4, 5]
print(value)
type(value)

g. (1,2,3,4,5)

In [ ]:
value = (1, 2, 3, 4, 5)
print(value)
type(value)

h. { ‚Äòname‚Äô: ‚ÄòYour_name‚Äô }

In [ ]:
value = { 'name': 'Your_name' }
print(value)
type(value)

i. None

In [ ]:
value = None
print(value)
type(value)

#Performing Operations with Python

1.	Using value and value2. Type the command: print(value+value2)

In [ ]:
value, value2 = 5, -6
print(value + value2)

2.	Repeat step 1 for the following values of value and value2:

Hint: You may try using this assignment 	value, value2 = 5, -6  in the Notebook for the following steps:

Note: Modify the code so that hello and world would be separated.

Note: Observe the outputs carefully and try repeating them using subtraction.

a. value, value2 = 5.0, 6

In [ ]:
value, value2 = 5.0, 6
print(value + value2)

b.	value, value2 = -5, 6.1

In [ ]:
value, value2 = -5, 6.1
print(value + value2)

c.	value, value2 = ‚ÄúHello‚Äù, ‚Äòworld‚Äô

In [ ]:
value, value2 = "hello", 'world'
print(value + value2)

d.	value, value2 = [1,2,3], [4,5,6]

In [ ]:
value, value2 = [1,2,3], [4,5,6]
print(value + value2)

e.	value, value2 = (1,2,3), (4,5,6)

In [ ]:
value, value2 = (1,2,3), (4,5,6)
print(value + value2)

f.	value, value2 = {"name":"Royce"}, {"age":2}

In [ ]:
value, value2 = {"name":"Royce"}, {"age":2}
print({**value, **value2})

3. Using value, value2 = 30, 4. Type the commands:

a.	print(value*value2)

b.	print(value2**2)

c.	print(value2**3)

d.	print(value*value2+value2**2+1)

e.	print(value/value2)

f.	print(value%value2)

In [ ]:
value, value2 = 30, 4
print(value * value2)
print(value2 ** 2)
print(value2 ** 3)
print(value * value2 + value2**2 + 1)
print(value / value2)
print(value % value2)

#Assigning Input Data to a Variable

Finding a person‚Äôs BMI (metric)
1. Declare a new variable named name and assign it the value input(‚ÄúEnter your name‚Äù)
2. Create another variable named weight and assign it the value input(‚ÄúEnter your weight(kg): ‚Äú)
3. Create another variable named height and assign it the value input(‚ÄúEnter your meters(m): ‚Äú)
4. Declare another variable called bmi and assign it the formula ùëèùëöùëñ = ùë§ùëíùëñùëî‚Ñéùë°
‚Ñéùëíùëñùëî‚Ñéùë°2
5. Address the errors displayed step#4. You can accomplish this by converting the String input to another data
type. An example would be:
weight = input(‚ÄúEnter your weight(kg)‚Äù)
weight = float(weight)
Or simply weight = float(input(‚ÄúEnter your weight(kg): ‚Äú))
There are many functions available that can convert one data type to another. Some of which are the following:
int(), float(), str()
Other functions which maybe used in the later lab activities are: complex(real, imaginary), list(), tuple(), set(),
dict(), ord(), bin(), hex(), oct().
6. Print the persons‚Äôs name, weight, height, and bmi
Name: John Ray
Weight: 60
Height: 1.6764
BMI = 21.3499
Guide: 5.5 feet ~ 1.6764 m
Hint: You can combine two values by converting the output value to String and Concatenating (Addition) the
operator on two strings.
print(‚ÄúValue: ‚Äú+str(12))
You may explore many other methods to format values onto the print() function in Python. Another example is
the following:
print(‚ÄúValue: ‚Äú, 12)

1.	Write the Python equivalent code of the following C code:
int main(){ float base = 0, height = 0, area = 0; printf(‚ÄúEnter the base of the triangle: ‚Äú); scanf(‚Äú%f‚Äù, &base);
printf(‚ÄúEnter the height of the triangle: ‚Äú); scanf(‚Äú%f‚Äù, &height); area = (1/2)*base*height;
print(‚ÄúThe area of the triangle is %f‚Äù, area); }

In [ ]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))
bmi = weight / (height ** 2)
print("Name:", name)
print("Weight:", weight)
print("Height:", height)
print("BMI =", bmi)

1. Write the Python equivalent code of the following C code:

In [ ]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = 0.5 * base * height
print("The area of the triangle is", area)

2.	Write a program that would convert Celsius to Fahrenheit given the formula: F = (C √ó 9/5) + 32 Example of conversion:
0¬∞C = 32 ¬∞F
-20¬∞C = -4 ¬∞F

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(celsius, "¬∞C =", fahrenheit, "¬∞F")

3.	Write a program that can determine the distance between two points given the coordinates using the formula:

Hint/Rule: No library or package is needed to implement this equation. Example: x2, y2 = -3, 3 and x1, y1 = 2, 2 d = 5.099019514

In [ ]:
x1, y1 = map(float, input("Enter coordinates x1 y1: ").split())
x2, y2 = map(float, input("Enter coordinates x2 y2: ").split())

distance = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5
print("Distance between points =", distance)