<a href="https://colab.research.google.com/github/khrwnnn/CPE009A-CPE12S2/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [500]:
if 5>2:
  print("Five is greater than Two!")

Five is greater than Two!

Python Comments

In [501]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [502]:
x = 1
a, b = 0,-1
a, b, c = 0,-1, 2

b = "Sally" #This is a type of string
print(b)

Sally

Casting

In [503]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [504]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' Quotes

In [505]:
y = "John"
y = 'John'

Case Sensitive

In [506]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [507]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [508]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [509]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Output Variables Other way

In [510]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [511]:
x = 5
y = -3
print(x+y)

x = 5
y = 3
sum =  x+y
sum


x = 10
y = 5
print(x*y)

x = 5
y = 10
print(x-y)


x = 10
y = 10
print(x/y)

x = 10
y = 3
print(x%y)

x = 10
y = 10
print(x%y)

2
50
-5
1.0
1
0

Assignment Operators

In [512]:
s = 1
s+=3
print(s)

s = 1
s-=3
print(s)

s = 1
s*=3
print(s)

s = 1
s/=3
print(s)

s = 1
s%=3
print(s)

4
-2
3
0.3333333333333333
1

Comparison Operators

In [513]:
t = 1
u = 2
t>u
t<u
t>=u
t<=u
t==u
t!=u

True

Logical Operators

In [514]:
t < 5 and u < 10

True

In [515]:
t < 5 or u < 10

True

In [516]:
not (t < 5 or u < 10)

False

In [517]:
t is u

False

In [518]:
t is not u

True

Bitwise Operators

In [519]:
v = 2
v << 1
v << 2

8

In [520]:
t & u

0

In [521]:
15 & 15

15